# Python virtual environment
.venv/
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Environment/config files
.env
*.log

# Project configurations
*.vscode/
.idea/
config/project_config.py

